# App
NODE_ENV=development
NEXT_PUBLIC_APP_NAME=Mwiti Bakers
NEXT_PUBLIC_BRAND_TAGLINE=Home of Sweetness
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000

# Database
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/mwitibakers?retryWrites=true&w=majority

# API
APP_PORT=4000
CORS_ORIGIN=http://localhost:3000
JWT_SECRET=your-long-random-secret-change-me

# Paystack (https://paystack.com)
PAYSTACK_SECRET_KEY=sk_test_xxxx
PAYSTACK_PUBLIC_KEY=pk_test_xxxx
PAYSTACK_CALLBACK_URL=http://localhost:4000/webhooks/paystack

# Monitoring
SENTRY_DSN=
