# App
NODE_ENV=development
PORT=4000
NEXT_PUBLIC_APP_NAME=Mwiti Bakers
NEXT_PUBLIC_BRAND_TAGLINE=Home of Sweetness
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000

# API
APP_PORT=4000
CORS_ORIGIN=http://localhost:3000
MONGODB_URI=
JWT_SECRET=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
